*{
    margin: 0;
    padding: 0;
}
/* ==================header================ */
header{
    padding: 10px 30px;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
    display: flex;
}
.header_left{
    display: flex;
    align-items: center;
    width:80%;
}
.header_left > img{
    width: 75px;
}
.header_left > span{
    margin-left: 20px;
    font-size: 13px;
    font-weight: bold;
}
.header_right{
    width: 20%;
}
.header_right >button{
    float: right;
    background-color: #4edbfb;
    padding: 5px 20px;
    border: none;
    border-radius: 50px;
    margin-top: 5px;
}
a{
    text-decoration: none;
}
.header_top{
    color: black;
}
.header_link_right{
    color: #fff;
}
.footer_link{
    color: #fff;
}
/* ====================main terms ============= */
#main_terms{
    margin: auto;
    width: 50%;
    padding: 100px 0px;
}
.h1_terms{
    margin: 10px;
    font-weight: bold;
    text-align: center;

}
#main_terms > p{
    margin: 15px 0px;
} 
/* ===========footer=============== */
footer{
    background-color: rgb(30, 29, 29);
    color: #fff;
    padding: 50px 0px;
  
}
.footer_box{
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.footer_container{
    width: 24%;
    font-size: 13px;
    color: #fff;
}
.logo{
    width: 85px;
}
.footer_container > p{
    margin-top: 7px;
}
.icon{
    width: 25px;
}
/* ================contact=============== */
#main_contact{
    width: 60%;
    margin: auto;
    display: flex;
    padding: 100px 0px;
}
.contant_left{
    width: 50%;
}
.contant_left > h1{
    font-size: 60px;
    margin-bottom: 10px;
}
.contant_left > p{
    font-size: 20px;
}
.no_mail{
    width :50%;
    margin: 15px 5px;
}
.no_box{
    display: flex;
    align-items: center;
}
.box_img{
    width: 15%;
}
.box_img >img{
    width: 100%;
}
.box_text{
    margin-left: 10px;
}

.content_right{
    width: 50%;
    background-color: rgba(180, 177, 177, 0.08);
    border-radius: 10px;
    padding: 50px 30px;
}
.input{
    width: 95%;
    margin: auto;
    border: none;
    border-radius: 50px;
    padding: 10px;
    font-size: 13px;
    margin: 10px 0px;
}
.input_contant{
    width: 95%;
    margin: auto;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 13px;
    margin: 10px 0px;
    height: 15vh;
}
.contact_button{
    width: 100%;
    margin: auto;
    border: none;
    border-radius: 50px;
    padding: 10px;
    font-size: 13px;
    margin: 10px 0px 0px 0px;
    color: #fff;
    background-color: #4edbfb;
    border: none;
}

